<a th:href="@{/menu}">MENU</a> <a> - </a> <a th:href="@{/statistics}">STATISTICS</a>
<br>
<label>________________________________________________________________________________________________________</label>
<br>
<h1> <label th:text="${teamA}">teamA</label> VS <label th:text="${teamB}">teamB</label></h1>
<label>Victories </label> <label th:text="${teamA}">teamA</label> : <label th:text="${vicA}">number</label>
<br>
<label>Victories <label th:text="${teamB}">teamB</label> : <label th:text="${vicB}">number</label>
<br>
<label>Draws: </label> <label th:text="${draw}">number</label>
<br>
<label>Number of Red Cards: </label> <label th:text="${rc}">number</label>
<br>
<label>Number of Yellow Cards: </label> <label th:text="${yc}">number</label>
<br>